RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Allow uploads to be served
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
